.App {
	background-color: #222;
	min-height: 100vh;
	font-size: calc(10px + 2vmin);
	color: white;
}
.centered {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.table {
	display: table;
}
.table-row {
	display: table-row;
}
.table-cell {
	display: table-cell;
}
.header {
	background-color: white;
	padding: 1vw;
	font-weight: bold;
	text-align: center;
	color: black;
}
.settings-cell {
	width: 30%;
	vertical-align: middle;
}
.full-width {
	width: 100%;
}
.button {
	cursor: pointer;
	display: inline-block;
	color: black;
	padding: 0.5vw 1vw;
	font-size: 1.5vw;
	font-weight: bold;
	border-radius: 0.3vw;
	background-color: #6edb8c;
}
.button:hover {
	background-color: #91ffaf;
}
.button:active {
	background-color: #6edb8c;
}